---
import type { MarkdownHeading } from "astro";
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "sidebar"]}>
    <Profile></Profile>
    <Categories></Categories>
</div>

<style>
    .sidebar {
        width: var(--sidebar-width);
        flex-shrink: 0;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .sidebar {
            width: var(--sidebar-width-tablet);
        }
    }

    @media (max-width: 767px) {
        .sidebar {
            display: none;
        }
    }
</style>
